<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seekon.yougouhui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.seekon.yougouhui.YouGouHuiApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".activity.profile.SettingActivity"
            android:label="@string/title_profie_setting"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.seekon.yougouhui.func.sale.SaleService" />
        <service android:name=".func.module.ModuleService" />
        <service android:name=".func.discover.share.ShareService" />

        <provider
            android:name="com.seekon.yougouhui.func.sale.ChannelProvider"
            android:authorities="com.seekon.yougouhui.channels"
            android:exported="false" />
        <provider
            android:name=".func.module.ModuleProvider"
            android:authorities="com.seekon.yougouhui.modules"
            android:exported="false" />
        <provider
            android:name="com.seekon.yougouhui.func.sale.SaleProvider"
            android:authorities="com.seekon.yougouhui.sales"
            android:exported="false" />
        <provider
            android:name=".func.discover.share.ShareProvider"
            android:authorities="com.seekon.yougouhui.shares"
            android:exported="false" />
        <provider
            android:name=".func.discover.share.CommentProvider"
            android:authorities="com.seekon.yougouhui.shares.comment"
            android:exported="false" />
        <provider
            android:name=".func.discover.share.ShareImgProvider"
            android:authorities="com.seekon.yougouhui.shares.image"
            android:exported="false" />
        <provider
            android:name=".func.user.UserProvider"
            android:authorities="com.seekon.yougouhui.users"
            android:exported="false" />
        <provider
            android:name=".func.profile.contact.FriendProvider"
            android:authorities="com.seekon.yougouhui.friends"
            android:exported="false" />
        <provider
            android:name=".func.profile.shop.TradeProvider"
            android:authorities="com.seekon.yougouhui.trades"
            android:exported="false" />
        <provider
            android:name=".func.profile.shop.ShopProvider"
            android:authorities="com.seekon.yougouhui.shops"
            android:exported="false" />
        <provider
            android:name=".func.profile.shop.ShopTradeProvider"
            android:authorities="com.seekon.yougouhui.shopTrades"
            android:exported="false" />
        <provider
            android:name="com.seekon.yougouhui.func.sale.SaleImgProvider"
            android:authorities="com.seekon.yougouhui.sale.images"
            android:exported="false" />
		<provider
            android:name="com.seekon.yougouhui.func.sale.SaleFavoritProvider"
            android:authorities="com.seekon.yougouhui.sale.favorites"
            android:exported="false" />
		<provider
            android:name="com.seekon.yougouhui.func.profile.shop.ShopFavoritProvider"
            android:authorities="com.seekon.yougouhui.shop.favorites"
            android:exported="false" />
		<provider
            android:name="com.seekon.yougouhui.func.sale.SaleDiscussProvider"
            android:authorities="com.seekon.yougouhui.sale.discusses"
            android:exported="false" />
		
        <activity
            android:name=".activity.discover.FriendShareActivity"
            android:label="@string/title_discover_friends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.discover.ShareActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImagePreviewActivity"
            android:label="@string/title_image_preview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.discover.RadarActivity"
            android:label="@string/title_discover_radar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".barcode.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.user.UserProfileActivity"
            android:label="@string/title_user_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SSOActivity"
            android:label="@string/title_sso"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seekon.yougouhui.activity.user.RegisterActivity"
            android:label="@string/title_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.ChangeNickNameActivity"
            android:label="@string/title_user_change_nickname"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.ChangeUserPhotoActivity"
            android:label="@string/title_user_change_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.ChangeUserPwdActivity"
            android:label="@string/title_user_change_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.contact.FriendProfileActivity"
            android:label="@string/title_friend_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.MyShareActivity"
            android:label="@string/title_my_share"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.ShareDetailActivity"
            android:label="@string/title_share_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.LoginShopActivity"
            android:label="@string/title_shop_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.RegisterShopActivity"
            android:label="@string/title_shop_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.contact.ContactListActivity"
            android:label="@string/title_contact_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.contact.AddFriendActivity"
            android:label="@string/title_add_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.ShopMainActivity"
            android:label="@string/title_shop_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.ShopBaseInfoActivity"
            android:label="@string/title_shop_base_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.ShopEmpSettingActivity"
            android:label="@string/title_shop_emp_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seekon.yougouhui.activity.sale.ShopSaleListActivity"
            android:label="@string/title_shop_sale_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.ShareInteractAcitivity"
            android:label="@string/title_shop_share_interact"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.ChangeShopTextActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.ChangeShopImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.ChangeShopPwdActivity"
            android:label="@string/title_shop_change_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.ChangeTradesActivity"
            android:label="@string/title_shop_change_trades"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.SetShopBarcodeActivity"
            android:label="@string/title_shop_set_barcode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.shop.SetEmpPwdActivity"
            android:label="@string/title_shop_set_emp_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.profile.contact.ContactListWithCheckedActivity"
            android:label="@string/title_contact_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seekon.yougouhui.activity.profile.shop.ChooseShopActivity"
            android:label="@string/title_choose_shop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seekon.yougouhui.activity.sale.SalePublishActivity"
            android:label="@string/title_shop_sale_publish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.sale.SaleEditActivity"
            android:label="@string/title_shop_sale_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.sale.SaleDetailActivity"
            android:label="@string/title_shop_sale_detail"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>