<!-- 详细活动页-->
<div data-role="page" data-theme="a" class="submain-page" id="activity" data-dom-cache=true>
	<div role="main" class="ui-content">
		<div id="activity-content">
			
		</div>
		<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" class="floatleft" style="width: 100%;">
		    <h4>点评</h4>
		    <ul data-role="listview" data-inset="false" id='activity-discuss-list'>
		    </ul>
		</div>	
	
	<script id="activityItem" type="text/template">
		<div class="normal-pic-wrapper floatleft" data-spm="ne">
				<a href="#" ><img src="<%=activity.get('img')%>" class="J_zoom "/></a>
			</div>
			<div class="detail-status floatleft ">
			    <div class="main-box avil ">                  
			    	<div class="name-box">
			       	<h2 class="name">
								<%=activity.get('title')%>
							</h2>
						</div>
						<div class="description">
			            <%=activity.get('content')%>
						</div>
			     	<div class="status-banner J_juBuyBtns  "   >			
								<span class="currentPrice floatleft">
			               <small>&yen;</small><%=activity.get('discount') * activity.get('price')%>
			          </span>
						
			           <div class="floatleft">
			                <div class="discount"><%=activity.get('discount')%><small>折</small>
			                </div>
			                <del class="originPrice">&yen;<%=activity.get('price')%></del>
			           </div>
			     	</div>
			  </div>
		</div>		
		</script>
		
		<script id="discussItems" type="text/template">
			<% _.each( collection, function( discuss, id ) { %>
					<li> <%=discuss.content%>
					</li>
			<% }); %>
		</script>
</div>
